In [6]:
# Import the dependencies.
# pandas to read the csv file and create locations and measurements from dataframe
# gmaps and api key to create heatmaps and location maps
# requests to make request to google places json file
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Read cities.csv file and place into a df
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,38.86,93,100,2.30,AR,2022-04-02 17:27:09
1,1,Hasaki,35.7333,140.8333,46.80,56,100,8.59,JP,2022-04-02 17:27:10
2,2,Marawi,7.9986,124.2928,68.50,96,100,0.74,PH,2022-04-02 17:27:10
3,3,Kaitangata,-46.2817,169.8464,48.69,94,25,6.20,NZ,2022-04-02 17:27:11
4,4,Punta Arenas,-53.1500,-70.9167,44.62,93,100,13.80,CL,2022-04-02 17:27:09

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)


# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)