In [26]:
# Import the dependencies.
# pandas to read the csv file and create locations and measurements from dataframe
# gmaps and api key to create heatmaps and location maps
# requests to make request to google places json file
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [27]:
# Read cities.csv file and place into a df
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,38.86,93,100,2.30,AR,2022-04-02 17:27:09
1,1,Hasaki,35.7333,140.8333,46.80,56,100,8.59,JP,2022-04-02 17:27:10
2,2,Marawi,7.9986,124.2928,68.50,96,100,0.74,PH,2022-04-02 17:27:10
3,3,Kaitangata,-46.2817,169.8464,48.69,94,25,6.20,NZ,2022-04-02 17:27:11
4,4,Punta Arenas,-53.1500,-70.9167,44.62,93,100,13.80,CL,2022-04-02 17:27:09

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [29]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Sakakah,29.9697,40.2064,87.37,11,100,9.08,SA,2022-04-02 17:27:12
9,9,Vaini,-21.2000,-175.2000,79.79,75,76,5.53,TO,2022-04-02 17:27:13
16,16,Bairiki,1.3292,172.9752,80.60,89,20,4.61,KI,2022-04-02 17:27:15
21,21,Axim,4.8699,-2.2405,83.86,73,98,9.28,GH,2022-04-02 17:27:17
25,25,Carnarvon,-24.8667,113.6333,77.07,88,75,5.75,AU,2022-04-02 17:27:18
26,26,Guarapari,-20.6667,-40.4975,84.88,67,20,7.07,BR,2022-04-02 17:27:19
31,31,Butaritari,3.0707,172.7902,81.39,75,42,14.90,KI,2022-04-02 17:27:20
34,34,Sola,-13.8833,167.5500,79.11,80,100,8.41,VU,2022-04-02 17:24:45
36,36,Lugus,5.7036,120.8203,80.58,81,100,8.88,PH,2022-04-02 17:27:22
37,37,Atuona,-9.8000,-139.0333,78.67,75,6,15.12,PF,2022-04-02 17:27:23

In [38]:
# Check for any null values
preferred_cities_df.count()

City_ID       181
City          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
Country       181
Date          181
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
8      Sakakah      SA     87.37  29.9697   40.2064
9        Vaini      TO     79.79 -21.2000 -175.2000
16     Bairiki      KI     80.60   1.3292  172.9752
21        Axim      GH     83.86   4.8699   -2.2405
25   Carnarvon      AU     77.07 -24.8667  113.6333
26   Guarapari      BR     84.88 -20.6667  -40.4975
31  Butaritari      KI     81.39   3.0707  172.7902
34        Sola      VU     79.11 -13.8833  167.5500
36       Lugus      PH     80.58   5.7036  120.8203
37      Atuona      PF     78.67  -9.8000 -139.0333

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Sakakah,SA,87.37,29.9697,40.2064,Fakhamat Al Orjoana Apartment
9,Vaini,TO,79.79,-21.2000,-175.2000,Keleti Beach Resort
16,Bairiki,KI,80.60,1.3292,172.9752,Tarawa Boutique Hotel
21,Axim,GH,83.86,4.8699,-2.2405,Axim Beach Resort And Spa
25,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...
581,Tiarei,PF,80.62,-17.5333,-149.3333,Le Rocher de Tahiti
584,Santa Cruz,BO,78.85,-17.8000,-63.1667,Aviador Hotel Boutique
585,Florida,US,80.58,28.7505,-82.5001,Sportsmens Cove
586,Ngaoundere,CM,79.23,7.3167,13.5833,Hotel Mentong Palace
587,Bintulu,MY,77.41,3.1667,113.0333,900 Boutique INN

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))